#have a copy on drive kekw
Penguin/Binaries/Win64/Penguin-Win64-Shipping.exe 
Penguin/Binaries/Win64/Penguin-Win64-Shipping.pdb
Penguin/Binaries/Win64/Penguin.exe
Penguin/Binaries/Win64/Penguin.pdb
Penguin/Intermediate/Build/Win64/x64Penguin/Shipping/Core/SharedPCH.Core.Project.ValApi.Cpp20.h.pch
Penguin/Intermediate/Build/Win64/x64/Penguin/Development/Core/SharedPCH.Core.Project.ValApi.Cpp20.h.pch
Penguin/Saved/Cooked/Windows/Penguin/Content/levels/Level1.ubulk 
Penguin/Saved/Cooked/Windows/Penguin/Content/levels/Level2.ubulk 
Penguin/Saved/Cooked/Windows/Penguin/Content/levels/Level3.ubulk
Penguin/Saved/Cooked/Windows/Penguin/Metadata/ShaderLibrarySource/ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode
Penguin/Saved/Cooked/Windows/Penguin/Content/VehicleTemplate/Maps
Penguin/Saved/Shaders/PCD3D_SM6-PCD3D_SM6/ShaderCode-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode
Penguin/Saved/StagedBuilds/Windows/Penguin/Binaries/Win64/Penguin-Win64-Shipping.exe
Penguin/Saved/StagedBuilds/Windows/Penguin/Content/Paks/pakchunk0-Windows.pak
Penguin/Binaries/Win64/Penguin.exe
